<!-- Hero content -->
<div class="container">
	<div class="row hero-content">
		<div class="left-side">
			<div class="col-md-5">
			  <h1>Read Now</h1>
			  <p>Just Read It helps you get rid of those daunting lists of articles by incentivizing you to read them. You have a week to read an article. If you don't, we charge you and donate to Charity Water.</p>
			  <a href="#"><button type="button" class="btn btn-default navbar-btn pocket-btn">Sign in with Pocket</button></a>
			</div>
		</div>
		<div class="right-side">
			<div class="charity_badge">
				<div class="col-md-6">
					<img src="assets/macbook.png" alt="Just read your articles now" id="macbook">
					<img src="assets/scrolling.gif" alt="Just read your articles now" id="scrolling">
					<img src="assets/iphone.png" alt="Iphone 6" id="iphone">
					<img src="assets/scrolling-mobile.gif" alt="Just read your articles now" id="scrolling-mobile">
					<a href="http://charitywater.org" target="_blank"><img src="assets/charity_badge.png" alt="Charity of the Month" class="pulse"></a>
				</div>
			</div>
		</div>
		
	</div>
</div>